*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* display: block; */
    font-family: 'Kosugi Maru', sans-serif;

}

.bg__image{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg__mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.25);
}

#content{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;   
}

.form__date{
    margin: 10vh auto 64px;
    text-align: center;
    letter-spacing: -0.1em;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 96vw;
    font-weight: bold;
}

.form__date--start{
    margin: 10vh auto 48px;
}

.form__date--end{
    margin: 48px auto;
}

.form__date *{
    height: 32px;
}

select{
    background: none;
    border: none !important;
    height: 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 36px;
    text-align: right;
    overflow: visible !important;
    color: #000 !important;
}

select:active{
    border: none !important;
}

.textarea__descliption{
    margin: 32px 5vw 0;
}

.textarea__descliption i{
    transform: rotate(90deg);
}

textarea{
    display: block;
    width: 90vw;
    margin: 4px auto 32px;
    background: none;
    border-radius: 4vw;
    border: solid 2px #000;
    padding: 2vw;
    font-size: 18px;
}

.submit__btn{
    margin: auto;
    display: block;
    background: none;
    padding: 8px 12px;
    border: solid 2px #000;
    border-radius: 3vw;
    font-size: 22px;
    font-weight: bold;
    color: #000 !important;
}

#result{
    margin-top: 32px;
}

#result p{
    margin: 12px auto;
}

.result__date{
    text-align: center;
    font-size: 32px;
}

.result__days{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.result__days__num{
    margin: 0 8px;
    font-size: 48px;
}

.result__comment{
    width: 90vw;
    margin: 12px auto;
    font-size: 18px;
}

.error_mes{
    position: absolute;
    top: 4vh;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    color: #f00;
}